body{

margin:0;
font-family:Arial;
background:#050505;
color:white;

}

canvas{

position:fixed;
top:0;
left:0;

}

.hero{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

h1{

font-size:70px;
color:#00ffff;

}

button{

padding:12px 30px;
border:2px solid cyan;
background:transparent;
color:white;
border-radius:30px;
cursor:pointer;

}

.about{

padding:100px;
text-align:center;

}

.projects{

padding:100px;
display:flex;
gap:40px;
justify-content:center;

}

.project-card{

width:200px;
height:200px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(10px);

border-radius:20px;

display:flex;
justify-content:center;
align-items:center;

transition:0.3s;

}

.project-card:hover{

transform:rotateY(15deg) scale(1.1);
box-shadow:0 0 20px cyan;

}

.contact{

padding:100px;
text-align:center;

}

input, textarea{

display:block;
margin:10px auto;
padding:10px;
width:300px;
background:#111;
border:none;
color:white;

}
